body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;
    margin: 0;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.card h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e9ecef;
}
.card:hover {
    
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
.choice {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #0f172a;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #334155;
    transform: translateY(-2px);
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}